html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  color: white;
  font-family: monospace;
  user-select: none;
}

#scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 15px;
  height: 100%;
  background: #111;
  cursor: pointer;
  border-left: 2px solid teal;
}

#scrollbar-thumb {
  width: 100%;
  background: teal;
  border-radius: 8px;
  position: relative;
  top: 0;
  height: 100px;
  user-select: none;
}

canvas {
  display: block;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
}
